.bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.nav-button {
    float: right;
}

.bar a {
    color: rgb(0, 0, 0);
    padding: 15px;
    text-decoration: none;
    display: inline-block;
}