.bar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: flex-end;

    backdrop-filter: blur(12px) saturate(120%);
    -webkit-backdrop-filter: blur(12px) saturate(120%);
    background: rgba(247, 245, 237, 0.20);
}
.nav-button {
    margin-right: 10px;
}

.bar a {
    color: black;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}