.bar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    color: white;
    mix-blend-mode: difference;
    backdrop-filter: blur(2px);
    padding: 0 2vw;
    box-sizing: border-box;
}

.bar a {
    color: white;
    mix-blend-mode: difference;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

.nav-extra {
    padding: 0;
    margin: 0;
}

.nav-extra a{
    all: unset;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.hamburger {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 99;
  width: 18px;
  height: 15px;
}

.bar span {
  position: absolute;
  left: 0;
  width: 18px;
  height: 3px;
  background: white;
  transition: transform 0.3s ease, opacity 0.2s ease, top 0.3s ease;
  transform-origin: center;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 6px;
}

.hamburger span:nth-child(3) {
  top: 12px;
}

/* 애니메이션 (X 모양) */
.hamburger.active span:nth-child(1) {
  top: 6px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: 6px;
  transform: rotate(-45deg);
}

@media (max-width: 500px) {
  /* 햄버거 보이기 */
  .hamburger {
    display: flex;
  }

  /* 기존 메뉴 숨김 */
  .nav-button {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;

    transition: 0.3s;
  }

  /* 열렸을 때 */
  .nav-button.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav-button a {
    padding: 12px;
    font-size: 16px;
  }
}

.bar--migel {
  mix-blend-mode: difference;
}

.bar--matiam {
  mix-blend-mode: difference;
}

.bar--migel a {
    color: #d3b6a1;
}

.bar--matiam a {
    color: #0e7741;
}

.bar.bar--migel .hamburger span {
  background-color: #d3b6a1;
}

.bar.bar--matiam .hamburger span {
  background-color: #0e7741;
}

/* 래퍼: 스크롤 공간 제공 */
.srl-wrap{
  position: relative;
}

/* sticky 본체 */
.srl-stick{
  position: sticky;
  /* top은 인라인 style로 주입 */
  display: block;
  padding: 0 2vw;
  max-width: 1000px;
  margin: 0 auto;
  pointer-events: none;
}

/* 한 줄 기본 스타일 */
.srl-line{
  margin: 0;
  padding: 0.25em 0;
  font-weight: 400;
  line-height: 1.15;
  font-size: clamp(14px, 3.6vw, 36px);
  color: #ffffff;
  font-family: 'Quentin';

  transition: opacity 160ms linear, filter 160ms linear, transform 160ms ease-out;
  will-change: opacity, filter, transform;
}

.srl--center .srl-line{
  text-align: center;
}

.srl--center .srl-stick{
  top: 50vh;
  transform: translateY(-50%);
}