.bar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    color: white;
    mix-blend-mode: difference;
}
.nav-button {
    margin-right: 10px;
}

.bar a {
    color: white;
    mix-blend-mode: difference;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    text-decoration: none;
}
.nav-extra {
    padding: 0;
    margin: 0;
}
.nav-extra a{
    all: unset;
    cursor: pointer;
    margin-left: 2vw;
    font-size: 24px;
    font-weight: 700;
    color: white;
    mix-blend-mode: difference;
}

.bar--migel {
  mix-blend-mode: difference;
}

.bar--matiam {
  mix-blend-mode: difference;
}

.bar--migel a, .bar--matiam a {
    color: rgb(123, 123, 123);
}